
*.xcscmblueprint

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcscheme

*.xcuserstate

leiapp.xcworkspace/xcuserdata/zyuhui.xcuserdatad/UserInterfaceState.xcuserstate

leiapp.xcworkspace/xcuserdata/zyuhui.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.plist

*.pbxproj
